

/*HOME PAGE START*/
/*HEADER START*/



.nav_bck{
    background-color: #4682b4;
}

.custom_nav{
    background-color: transparent !important;
    margin-bottom: 0 !important;
    min-height: auto !important;
    border-bottom: 4px solid #4682b4 !important;
    border-radius: 0 !important;
}


.nav_bck:before {
    content: '' !important;
    position: absolute;
    width: 50px;
    height: 60px;
    right: 446px;
    top: 0;
    border-top: 84px solid transparent;
    border-right: 40px solid #4682b4;
}

.custom_nav .navbar-nav{
    padding: 17px 0;
}

.custom_nav .nav > li > a{
    color: #fff !important;
}
.custom_nav .nav > li:hover > a{
    color: #fff !important;
}

/*.header{
    background-color: #4682b4;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #4682b4;
}
.header-row {
    display: flex;
    align-items: center;
}

.nav-no-mar-pad {
    margin: 0;
    padding: 0;
}
.navbar-toggle {
    border: #022F40 solid 1px;
    margin: 8px 4px 8px 45px;
    text-align: right;
}
.icon-bar {
    border: #022F40 solid 1px;
}
.navbar-nav li a {
    margin-right: 0;
    text-align: center;
    width: 90px;
    padding: 10px 10px;
    color:#fff;
    font-weight: bold;
}
.nav  li  a:focus, .nav  li  a:hover {
    background-color:#be0000;
}*/


/*HEADER END*/



/*BANNER START*/
.banner{
    background-image:url("../image/banner.png")!important;
    padding-bottom: 50px;
    padding-top: 50px;
}
.first-bg{
    background-color: #000080;
    width: 600px;
}
.hd{
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.text-hd{
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.form-control {
    border-radius: 50px;
    /*width: 300px;*/
    border: 1px solid #000080;
}
.text-box{
    padding-left: 80px;
}

.main-button{
    background-color: #4169e1;
    padding: 5px 25px 5px 25px;
    border-radius:50px;
    color: #fff;
}

.btn-employers{
    background-color: #000080;
    color: #fff;
    border-radius: 50px;
    padding: 10px 150px 10px 150px;

}
.btn-employers:hover{
    background-color: #9acd32;
}
.bg-button{
    padding-left: 50px;
}

.btn-register{
    background-color: #be0000;
    color: #fff;
    border-radius: 50px;
    padding: 10px 150px 10px 150px;
    margin-top: 10px;

}
.btn-register:hover{
    background-color: #9acd32;
}
.bg-button1{
    padding-left: 50px;
}


.sub-admin{
    width: 600px;
    box-shadow: 5px 5px 10px 1px;
    padding:20px 5px 20px 5px;
    margin-top: 0px;
    background-color: #dcdcdc;
    opacity:0.9;
}
/*.form-control{
    width: 100% !important;
}*/
/*BANNER END*/




/*JOBS SECTION START*/

.bg-secondary{
    background-color: #9acd32;
    padding-top:50px;
    padding-bottom: 50px;
}
.bg-secondary1{
    background-color: #66cdaa;
    padding-top:50px;
    padding-bottom: 50px;
}
.bg-secondary2{
    background-color: #be0000;
    padding-top:50px;
    padding-bottom: 50px;
}


.text-job{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000080;
}
.text-job1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1689fc;
    padding-top: 13px;
}
.text-job2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fad24d;
}

.sub-menu {
    color: #243377;
    margin-top: 40px;
    line-height: 2;
    margin-left: -30px;
}
.sub-menu a{
    color: #243377;
}
.menu{
    padding-left: 20px;
}
.sub-menu li{
    list-style: none;
    padding-left: 10px;
}
.bg-secondary1 .sub-menu a{
    color: #000080;
}
.bg-secondary2 .sub-menu a{
    color: #fff;
}

/*JOBS SECTION END*/




/*SERVICE SECTION START*/

.service{
    background-image:url("image/sub-banner.png");
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid gray;
}

.sub-menu1 {
    color: #fff;
    margin-top: 40px;
    line-height: 2;
    margin-left: -30px;
}
.sub-menu1 a{
    color: #fff;
}
.menu{
    padding-left: 20px;
}
.sub-menu1 li{
    list-style: none;
    padding-left: 10px;
}

/*SERVICE SECTION END*/




/*FOOTER START*/
.footer{
    background-color: #1d1e1f;
    border-bottom: 1px solid white;
}
.sub-hed{
    color: #fff;
}
.sub-text{
    color: #fff;
    margin-top: 40px;
    line-height:2;
}
.sub-menu {
    color: #fff;
    margin-top: 40px;
    line-height: 2;
    margin-left: -30px;
}
.sub-menu a{
    color: #fff;
}
.menu{
    padding-left: 10px;
}
.sub-menu li{
    list-style: none;
}



.sub-menu1 {
    color: #fff;
    margin-top: 40px;
    line-height: 2;
    margin-left: -30px;
}
.sub-menu1 a{
    color: #fff;
}
.menu{
    padding-left: 10px;
}
.sub-menu1 li{
    list-style: none;
}


.sub-menu2 {
    color: #fff;
    margin-top: 40px;
    line-height: 2;
    margin-left: -30px;
}
.sub-menu2 a{
    color: #fff;
}
.menu{
    padding-left: 10px;
}
.sub-menu2 li{
    list-style: none;
}
/*FOOTER END*/






/*SUB-FOOTER START*/
.sub-footer{
    background-color: #000;
}
.row1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-copy{
    color: #fff;
}
.socialicon li{
    display: inline-block;
}
.fb-icon{
    color: #3b5998;
    margin-right: 25px;
}
.tw-icon{
    color: #0084b4;
    margin-right: 25px;
}
.go-icon{
    color:  #d34836;
    margin-right: 25px;
}
.li-icon{
    color: #0077B5;
}
/*SUB-FOOTER END*/



/*HOME PAGE END*/















/*REGISTER PAGE START*/


.second-bg{
    background-color: #a0b2c9;
    padding: 5px;
    width: 400px;
}
.sub-reg{
    text-align: center;
    font-weight: bold;

}
.text-em{
    text-align: center;
    font-weight: bold;
}

.sub-pm{
    text-align: center;
    color: #000080;
    font-weight: bold;
}

.sub-register{
    width: 600px;
    box-shadow: 5px 5px 10px 1px;
    padding:20px 10px 20px 10px;
    height: auto;
    background-color: #dcdcdc;

}

.form-dt{
    border-radius: 10px;
}

.bt-bm{
   border-radius: 0;
}

.bt-back{
    margin-left: 220px;
}
 .bt-back a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.bt-back a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}
/*REGISTER PAGE END*/

/*REGISTER2 PAGE START*/
.sub-register2{
    width: 700px;
    box-shadow: 5px 5px 10px 1px;
    padding:20px 10px 20px 10px;
    height: auto;
    background-color: #dcdcdc;

}
.sub-hd2{
    background-color: #a0b2ca;
    width: 400px;
}
.sub-rc{
    text-align: center;
    font-weight: bold;
}
.text-education{
    text-align: center;
    font-weight: bold;
}

.sub-pe{
    text-align: center;
    font-weight: bold;
    color: #000080;
}
.text-cpe{
    background-color: #000080;
    color: #fff;
    padding:10px;
    text-align: center;
}
.text-pre{
    background-color: #000080;
    color: white;
    padding:10px;
    text-align: center;
}
.sub-se{
    text-align: center;
    font-weight: bold;
    color: #000080;
}

.form-grade{
    border-radius: 0;
}
.bt-bc{
    background-color: #000080;
    border-radius:0 ;
}
.btn-certificate{
    color: #fff;
    text-align: center;
}
.sub-checkbox{
    margin-left: 0;
}
/*REGISTER2 PAGE END*/





/*REGISTER3 PAGE START*/


.sub-ap{
    text-align: center;
    font-weight: bold;
    background-color: #a0b2c9;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-register3{
    width: 600px;
    box-shadow: 5px 5px 10px 1px;
    padding:20px 10px 20px 10px;
    height: auto;
    background-color: #dcdcdc;

}
.btn-emp{
    background-color: #000080;
    border-radius: 50px;
    padding:10px 50px 10px 50px;
    color:#fff;
}
.btn-app{
    background-color:#32cd33;
    border-radius: 50px;
    padding:10px 50px 10px 50px;
    color:#fff;
}
.btn-can{
    background-color: #be0000;
    border-radius: 50px;
    padding:10px 50px 10px 50px;
    color:#fff;
}
.button-submit{
    text-align: center;
}
/*.bt-back{
    text-align: center;
}*/
.button-empy{
    margin-left: 70px;
}
.previous{
    border-radius: 50px;
}
.next{
    border-radius: 50px;
}


/*REGISTER3 PAGE END*/


/*REGISTER4 PAGE START*/

.sub-register4{
    width: 600px;
    box-shadow: 5px 5px 10px 1px;
    padding:20px 10px 20px 10px;
    height: auto;
    background-color: #dcdcdc;

}
.btn-vp{
    background-color: #000080;
    border-radius: 50px;
    padding:10px 20px 10px 20px;
    color:#fff;
}
.btn-vj{
    background-color:#32cd33;
    border-radius: 50px;
    padding:10px 20px 10px 20px;
    color:#fff;
}
.btn-cp{
    background-color: #be0000;
    border-radius: 50px;
    padding:10px 20px 10px 20px;
    color:#fff;
}

.sub-vjs{
    text-align: center;
    background-color: #000080;
    color: white;
    padding: 10px 5px 10px 5px;
    width: 300px;
}
.sub-view{
    width: 600px;
}


.blue-grey{
    background-color: #be0000;
    color: #fff;
}

table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 20px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #00008b;
    border-left: 1px solid #00008b;
    border-right: 1px solid #00008b;
    border-bottom: 1px solid #00008b;

}

.bt-back{
    text-align: center;
}
/*REGISTER4 PAGE END*/

/*REGISTER5 PAGE START*/

.form-horizontal{
    margin-left: 15px;
}


/*REGISTER5 PAGE END*/








@media (max-width: 768px) {
    .hd{
        font-size: 18px;
    }
    .text-hd{
        font-size: 12px;
        text-align: center;
    }
    .first-bg{
        width: auto;
    }

    .text-box{
        padding-left: 0px;
        width: 100px;
    }

    .sr-box{
        padding-left: 0px;
    }

    .form-control{
        width: auto;
    }
    .bg-button{
        padding-left: 0px;
        margin-right: 50px;
    }
    .btn-employers{
        padding: 5px 8px 5px 8px;

    }

    .bg-button1{
        padding-left: 0px;
        margin-right: 50px;
    }
    .btn-register{
        padding: 5px 8px 5px 8px;
    }
    .sub-admin{
        width: auto;
    }


    .second-bg{
        width: auto;
        padding: 15px;
    }

    .sub-register{
        width: auto;
    }


    .bt-back{
        margin-left: 50px;
    }

    .sub-register3{
        width: auto;
    }

   .sub-hd2{
       width: 100%;
   }

    .sub-register2{
        width: auto;
    }

    .sub-register4{
        width: auto;
    }

    .sub-view{
        width: auto;
    }
    .sub-ap{
        width: auto;
        font-size: 20px;
    }


}





/*HOME PAGE END*/





