<!DOCTYPE html>
<!--
Created By : Anindyasundar Bera.
Email : anindya@cryptonsoftech.com.
-->
<!--footer bellow-->

<section class="footer">
    <div class="container">
        <div class="row vert-offset-top-3">
            <div class="col-md-3">
                <h2 class="sub-hed">About Hire me</h2>
                <span class="ft_line"></span>
                <!-- <img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <p class="sub-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took</p>
            </div>
            <div class="col-md-3">
                <h2 class="sub-hed">Quick Links</h2>
                <span class="ft_line"></span>
                <!--<img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <div class="sub-menu">
                    <ul>
                        <li><a ui-sref="about"><i class="fa fa-caret-right fa-1x" aria-hidden="true"><span class="menu">About us</span></i></a></li>
                        <li><a ui-sref="terms"><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Terms of Use</span></i></a></li>
                        <li><a ui-sref="cookie"><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Cookie Policy</span></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="sub-hed">Recruiters</h2>
                <span class="ft_line"></span>
                <!-- <img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right fa-1x" aria-hidden="true"><span class="menu">Why Myjob.mu?</span></i></a></li>
                        <li><a ui-sref="advertise"><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Advertise with us</span></i></a></li>
                        <li><a ui-sref="contact"><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Contact us</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">RMS Login</span></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="sub-hed">Contact us</h2>
                <span class="ft_line"></span>
                <!-- <img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <div class="sub-menu2">
                    <ul>
                        <li><a href=""><i class="fa fa-map-marker " aria-hidden="true"><span class="menu">mauritius</span></i></a></li>
                        <li><a href=""><i class="fa fa-phone" aria-hidden="true"><span class="menu">00-000-000</span></i></a></li>
                        <li><a href=""><i class="fa fa-envelope" aria-hidden="true"><span class="menu">abc@hotmail.com</span></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sub-footer">
    <div class="container">
        <div class="row1">
            <div class="col-md-6">
                <p class="text-copy">Copyright@2017Hireme.mu</p>
            </div>
            <div class="col-md-6 ">
                <ul class="socialicon pull-right">
                    <li><a href="#"><i class="fa fa-facebook fa-2x fb-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x tw-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa-2x go-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin fa-2x li-icon"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>