<section class="banner">
    <div class="container">
        <div class="row">
            <div class="first-bg center-block">
                <h2 class="hd center-block">You Apply We Place</h2>
                <p class="text-hd">Helping you find your dream job</p>
            </div>
        </div>
        <div class="sub-admin center-block">
            <div class="row">
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputname" placeholder="Ex. Hr Manager">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit" type="submit" value="Search">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputnorth" placeholder="Ex. North ">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit1" type="submit" value="Search">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputba" placeholder="Ex. Bsc/Ba/Msc/MA/MBA/Phd/Diploma/SC/HSC/Acca">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit2" type="submit" value="Search">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputtrainee" placeholder="Trainee">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit3" type="submit" value="Search">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="bg-button">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-employers">Search All Recent Adverts</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="bg-button1">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-register">Search All Recent Adverts</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="jobs">
    <div class="container">
        <div class="row vert-offset-top-5">
            <div class="col-md-4 bg-secondary">
                <img src="image/social.png" class="img-responsive center-block">
                <p class="text-job">Jobs</p>
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Find a job</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Recruiter directory</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular searches</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Browse locations</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Career advice</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Help</span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4 bg-secondary1">
                <!--<i class="fa fa-user fa-5x social-us center-block" aria-hidden="true"></i>-->
                <img src="image/social1.png" class="img-responsive center-block">
                <p class="text-job1">Recruiters</p>
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Find a job</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Recruiter directory</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular searches</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Browse locations</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Career advice</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Help</span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4 bg-secondary2">
                <img src="image/social2.png" class="img-responsive center-block">
                <p class="text-job2">Hireme.mu</p>
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Find a job</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Recruiter directory</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular searches</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Browse locations</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Career advice</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Help</span></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="service">
    <div class="container vert-offset-top-5">
        <div class="row">
            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Accountancy jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Accountancy (Qualified) jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Actuarial jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Admin, Secretarial & PA jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Apprenticeships jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Banking jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Charity & Voluntary jobs </span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Construction & Property jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Customer Service jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Education jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Energy jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Engineering jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Estate Agency jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Financial Services jobs</span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">General Insurance jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Graduate jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Health & Medicine jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Human Resources jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">IT & Telecoms jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">IT Contractor jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Legal jobs </span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Leisure & Tourism jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Manufacturing jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Marketing & PR jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Retail jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu"> Social Care jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Temporary jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Public Sector jobs </span></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>





