<nav class="navbar navbar-default custom_nav" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <a class="navbar-brand" ng-click="goHome()"> <img id="header-logo1" class="img-responsive col-md-7" src="image/logo.png"> </a>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right nav_bck">
            <li><a href="#">Vacancies</a></li>
            <li><a href="#">Career Advice</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#" ng-click="showClientModal('block')" ng-hide="loggedUser">log in</a></li>
            <li><a href="#" ng-click="clientLogout()" ng-hide="!loggedUser">log out</a></li>
        </ul>
    </div>
</nav>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="first-bg center-block">
                <h2 class="hd center-block">You Apply We Place</h2>
                <p class="text-hd">Helping you find your dream job</p>
            </div>
        </div>
        <div class="sub-admin center-block">
            <div class="row">
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputname" placeholder="Ex. Hr Manager">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit" type="submit" value="Search">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputnorth" placeholder="Ex. North ">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit1" type="submit" value="Search">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputba" placeholder="Ex. Bsc/Ba/Msc/MA/MBA/Phd/Diploma/SC/HSC/Acca">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit2" type="submit" value="Search">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 col-sm-3 text-box">
                        <input type="text" class="form-control" id="inputtrainee" placeholder="Trainee">
                    </div>
                    <div class="col-md-6 col-sm-3 sr-box">
                        <input class="main-button" data-g-action="Search Button" data-g-event="Search: Products" data-g-label="Site Search: Sample Search" id="search_submit3" type="submit" value="Search">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="bg-button">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-employers">Search All Recent Adverts</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="bg-button1">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-register">Search All Recent Adverts</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="jobs">
    <div class="container">
        <div class="row vert-offset-top-5">
            <div class="col-md-4 bg-secondary">
                <img src="image/social.png" class="img-responsive center-block">
                <p class="text-job">Jobs</p>
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Find a job</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Recruiter directory</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular searches</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Browse locations</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Career advice</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Help</span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4 bg-secondary1">
                <!--<i class="fa fa-user fa-5x social-us center-block" aria-hidden="true"></i>-->
                <img src="image/social1.png" class="img-responsive center-block">
                <p class="text-job1">Recruiters</p>
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Find a job</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Recruiter directory</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular searches</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Browse locations</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Career advice</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Help</span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4 bg-secondary2">
                <img src="image/social2.png" class="img-responsive center-block">
                <p class="text-job2">Hireme.mu</p>
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Find a job</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Recruiter directory</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Popular searches</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Browse locations</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Career advice</span></i></a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"><span class="menu">Help</span></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="service">
    <div class="container vert-offset-top-5">
        <div class="row">
            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Accountancy jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Accountancy (Qualified) jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Actuarial jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Admin, Secretarial & PA jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Apprenticeships jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Banking jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Charity & Voluntary jobs </span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Construction & Property jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Customer Service jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Education jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Energy jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Engineering jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Estate Agency jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Financial Services jobs</span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">General Insurance jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Graduate jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Health & Medicine jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Human Resources jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">IT & Telecoms jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">IT Contractor jobs</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Legal jobs </span></i></a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Leisure & Tourism jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Manufacturing jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Marketing & PR jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Retail jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu"> Social Care jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Temporary jobs </span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Public Sector jobs </span></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="footer">
    <div class="container">
        <div class="row vert-offset-top-3">
            <div class="col-md-3">
                <h2 class="sub-hed">About Hire me</h2>
                <span class="ft_line"></span>
                <!-- <img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <p class="sub-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took</p>
            </div>
            <div class="col-md-3">
                <h2 class="sub-hed">Quick Links</h2>
                <span class="ft_line"></span>
                <!--<img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <div class="sub-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right fa-1x" aria-hidden="true"><span class="menu">About us</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Terms of Use</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Cookie Policy</span></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="sub-hed">Recruiters</h2>
                <span class="ft_line"></span>
                <!-- <img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <div class="sub-menu1">
                    <ul>
                        <li><a href=""><i class="fa fa-caret-right fa-1x" aria-hidden="true"><span class="menu">Why Myjob.mu?</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Advertise with us</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">Contact us</span></i></a></li>
                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"><span class="menu">RMS Login</span></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="sub-hed">Contact us</h2>
                <span class="ft_line"></span>
                <!-- <img src="assets/image/underline.png" class="img-responsive" alt="#">-->
                <div class="sub-menu2">
                    <ul>
                        <li><a href=""><i class="fa fa-map-marker " aria-hidden="true"><span class="menu">mauritius</span></i></a></li>
                        <li><a href=""><i class="fa fa-phone" aria-hidden="true"><span class="menu">00-000-000</span></i></a></li>
                        <li><a href=""><i class="fa fa-envelope" aria-hidden="true"><span class="menu">abc@hotmail.com</span></i></a></li>

                    </ul>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div id="clientArea" class="modal right" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="showClientModal('none')">&times;</button>
                        <h4 class="modal-title">Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form name="loginForm">
                            <div class="form-group row vert-offset-top-3 ">
                                <label for="email" class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" placeholder="Email id"
                                           name="email" ng-model="user.email" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-3 col-form-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" placeholder="Password" 
                                           name="password" ng-model="user.password" required=""
                                           minlength="4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="bg-button  ">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-employers center-block "
                                                ng-click="clientLogin()" ng-show="loginForm.email.$valid && loginForm.password.$valid">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showClientModal('none')">Close</button>
                    </div>
                </div>

            </div>
        </div>



    </div>
</section>


<section class="sub-footer">
    <div class="container">
        <div class="row1">
            <div class="col-md-6">
                <p class="text-copy">Copyright@2017Hireme.mu</p>
            </div>
            <div class="col-md-6 ">
                <ul class="socialicon pull-right">
                    <li><a href="#"><i class="fa fa-facebook fa-2x fb-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x tw-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa-2x go-icon"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin fa-2x li-icon"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>