<!--<section class="header">

    <div class="container">
        <div class="row  header-row">

            <div class="col-lg-4">
                <img id="header-logo" class="img-responsive" src="image/logo.png">
            </div>

            <div class="col-xs-8" style="padding-right: 0">
                <nav class="navbar navbar-right nav-no-mar-pad">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Vacancies</a></li>
                            <li><a href="#">Carrer Advice</a></li>
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">log in</a></li>

                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</section>-->
<!--<nav class="navbar navbar-default custom_nav" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <a class="navbar-brand" ui-sref="home"> <img id="header-logo1" class="img-responsive col-md-7" src="../image/logo.png"> </a>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right nav_bck">
            <li><a href="#">Vacancies</a></li>
            <li><a href="#">Carrer Advice</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">log in</a></li>
        </ul>
    </div>
</nav>-->







<section class="register3">
    <div class="container">
        <div class="row vert-offset-top-3">
            <h1 class="sub-ap center-block">Admin profile Overview</h1>
        </div>


        <div class="sub-register3 center-block vert-offset-top-3">
            <form class="form-horizontal vert-offset-top-3">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="inputname" class="col-form-label">Name</label>
                    </div>
                    <div class="col-md-10  text-box">
                        <input type="text" class="form-control" id="inputname" placeholder="">
                    </div>
                    <!-- <div class="col-md-1">
                         <i class="fa fa-edit icon-ed"></i>
                     </div>
                    -->
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="inputname" class="col-form-label">Username</label>
                    </div>
                    <div class="col-md-10  text-box">
                        <input type="text" class="form-control" id="inputusername" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="inputname" class="col-form-label">Password</label>
                    </div>
                    <div class="col-md-10  text-box">
                        <input type="text" class="form-control" id="inputpassword" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="inputname" class="col-form-label">Log off</label>
                    </div>
                    <div class="col-md-10  text-box">
                        <input type="text" class="form-control" id="inputlogoff" placeholder="">
                    </div>
                </div>
            </form>
        </div>
        <div class="row vert-offset-top-3 ">
            <div class="button-submit">
                <input type="button" class="btn-emp" value="Add Employers">
                <input type="button" class="btn-app" value="View Application">
                <input type="button" class="btn-can" value="Add Candidate ">
            </div>
        </div>

        <div class="row vert-offset-top-2 ">
            <div class="button-submit">
                <input type="button" class="btn-emp" value="Manage Employers">
                <input type="button" class="btn-app" value="User Setting">
                <input type="button" class="btn-can" value="Manage Candidate">
            </div>
        </div>
        <div class="row vert-offset-top-3 center-block">
            <div class="bt-back">
                <a href="#" class="previous" ng-click="backToPage(2)"> Previous</a>
                <a href="#" class="next" ng-click="saveThisPage(2)">Next </a>
            </div>
        </div>

    </div>
</section>